.movie-image {
  height: 80vh important;
  width: auto;
}

.movie-info {
  background-color: #577bc1;
  color: white;
}

.label {
  font-family: "Limelight", cursive;
}

.movie-view {
  margin-top: 10px;
  height: 80vh !important;
}

.back-btn {
  background-color: #344cb7;
  border: none;
}
