.profile-card {
  overflow: hidden;
  color: white;
  text-align: center;
  background-color: #577bc1;
  padding: 1rem;
  margin: 10px;

}
.update-user {
  margin: 10px;
  padding: 1rem;
}
.limelight {
  font-family: "Limelight", cursive;
  text-align: center;
}

.deleteUser-modal {
  background-color: #577bc1;
}
