.movie-card {
  // max-height: 600px;
  overflow: hidden;
  color: white;
  // text-align: center;
  background-color: #577bc1;
  display: flex;
  flex-direction: column;
}

.card-footer {
  justify-self: flex-end;
  margin-bottom: 1rem;
}

.limelight {
  font-family: "Limelight", cursive;
  // color: #344cb7;
  text-align: center;
}
